Source: ros-humble-trimble-gnss-driver-ros2
Section: misc
Priority: optional
Maintainer: Geesara <ggeesara@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-geometry-msgs, ros-humble-sensor-msgs, ros-humble-tf2-ros, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-trimble-gnss-driver-ros2
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-ament-cmake, ros-humble-geometry-msgs, ros-humble-sensor-msgs, ros-humble-tf2-ros, ros-humble-ros-workspace
Description: Trimble RTK-GNSS driver package for ROS2
